[gerrit]
	basePath = git
	canonicalWebUrl = http://localhost:8091/
[database]
	type = mysql
	host = localhost
	hostname = localhost
	database = gerritdb
	username = gerrit
	password = strongerpassword
[index]
	type = LUCENE
[auth]
	type = DEVELOPMENT_BECOME_ANY_ACCOUNT
[receive]
	enableSignedPush = false
[sendemail]
	smtpServer = localhost
[container]
	user = gerrit
	javaHome = /usr/lib/jvm/java-1.7.0-openjdk-1.7.0.95.x86_64/jre
[sshd]
	listenAddress = *:29418
[httpd]
	listenUrl = http://*:8080/
#[cache]
#	directory = cache
